* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #244f5a;
    margin: 0;
    font-size: 1em;
}

body {
    background-color: #bfded3;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 5em;
    margin: 0;
}

#search-form {
    margin: 0.5em;
    font-size: 1.5em;
    height: 2em;
}

#title-searched {
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 8px;
    background-color: #ebdab8;
    width: 70%;
    margin-right: 0.5em;
    text-indent: 10px;
}

#search-button {
    outline: none;
    background-color: #e1a95e;
    width: 20%;
    padding: 0 0.6em;
    border-radius: 15px;
    border: none;
    font-weight: 500;

}

#search-button:hover {
    background-color: #d6c093;
}

#list-of-shows {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    list-style: none;
}

.li-image {
    width: 250px;
    height: auto;
    margin: 10px;  
}

.box-no-img {
    height: 351.183px;
    border: 1px solid black;
}

.show-name-li {
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}